<h2>Search Results</h2>

<div class="wrap-vimeo-results">
    <% @vimeo_results.each do |vimeo| %>
      <ul class="vimeo-result">
        <div class = "col-xs-4">
          <% if vimeo.profile_pics %>
            <li><%= image_tag get_profile_picture(vimeo.profile_pics) %></li>
          <% else %>
            <li><%= image_tag "https://i2.wp.com/i.vimeocdn.com/portrait/default-yellow_100x100.png?ssl=1" %></li>
          <% end %>
        </div>
        <div class="col-xs-4">
          <li>Name: <%= vimeo.name %></li>
          <li>Username: <%= get_vimeo_handle(vimeo.url) %></li>
          <li><%= link_to "Profile on Vimeo", vimeo.url %></li>
        </div>

        <%= form_for @feed, url: create_vimeo_feed_path, method: :post, :class => "col-xs-4 subscribe-button" do |f| %>
          <%= f.hidden_field :handle, :value => get_vimeo_handle(vimeo.url) %>
          <%= f.hidden_field :social_media, :value => "Vimeo" %>
          <%= f.hidden_field :id, :value => @feed.id %>
          <%= f.submit "Subscribe", :class => "btn btn-default" %>
        <% end %><br>
      </ul>
    <% end %>

</div>
