<h2>Search Results</h2>

<div class="wrap-vimeo-results">
  <ul class="vimeo-feed">
    <div class="col-xs-4">
      <li><%= image_tag @vimeo_results["portrait_medium"] %></li>
    </div>

    <div class="col-xs-4">
      <li><%= @vimeo_results["display_name"] %></li>
      <li><%= @vimeo_results["location"] %></li>
      <li><%= link_to "Profile", @vimeo_results["profile_url"] %></li>
    </div>
  </ul>

    <%= form_for @feed, url: create_vimeo_feed_path, method: :post, :class => "col-xs-4" do |f| %>
      <%= f.hidden_field :handle, :value => get_vimeo_handle(@vimeo_results["profile_url"]) %>
      <%= f.hidden_field :social_media, :value => "Vimeo" %>
      <%= f.submit "Subscribe", :class => "btn btn-default" %>
    <% end %>


</div>
