<h2>Search Results</h2>

<%= image_tag @vimeo_results["portrait_medium"] %>
<%= @vimeo_results["display_name"] %>
<%= @vimeo_results["location"] %>
<%= link_to "URL", @vimeo_results["url"] %>
<%= @vimeo_results["bio"] %>

<%= button_to "Subscribe to #{@vimeo_results["display_name"]}", create_feed_path, method: :post, class: "btn btn-default" %>
