<div class="login">

<% if logged_in? %>

  <p>Authenticate</p>

  <div class = "media">
    <a href= "/auth/twitter"><%=image_tag("twitter.png")  %></a>
    <a href= "/auth/github"><%=image_tag("Github.png")  %></a>
    <a href= "/auth/vimeo"><%=image_tag("vimeo.png")  %></a>
    <p><%= link_to "Log out", logout_path, method: :delete %></p>
  </div>

  <% else %>
  <div class= "login">
    <div class="media">
      <p>Sign in with</p>
      <a href= "/auth/twitter"><%=image_tag("twitter.png")  %></a>
      <a href= "/auth/github"><%=image_tag("Github.png")  %></a>
      <a href= "/auth/vimeo"><%=image_tag("vimeo.png")  %></a>
    </div>
  </div>

  <% end %>
</div>

  <div class="search-container">
    <p><em><%= link_to "HOME", root_path %></em></p>

    <p class="notice" ><%= notice %></p>

    <p><em>VIMEO USER SEARCH</em></p>
      <form id="search" action="/search_vimeo" method="POST">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Go!">
      </form>

    <p><em>TWITTER USER SEARCH</em></p>
      <%= render "/twitter/search_form" %>
  </div>

  <div class="feed">
    <% parse_vimeo %>
    <% if @vimeos.count > 0 %>
        <% @vimeos.each do |video| %>
          <ul class="vimeo-feed">
            <li><%= video["user_name"] %> posted on <%= video["upload_date"] %></li>
            <li><iframe src="//player.vimeo.com/video/<%= video["id"] %>" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></li>
            <li>Watch on <%= link_to "Vimeo", video["url"], :target =>"_blank" %></li>
          </ul>
        <% end %>
    <% else %>
      <p class="no-vimeos">Search for users to grow your feed!</p>
    <% end %>
  </div>



<br>


<div class="leftLogo">
  <a href= "/"><%=image_tag("planet_snappy_sm.png")  %></a>
</div>

<a href= "/"><%=image_tag("planet_snappy.png")  %></a>

<div class="rightLogo">
  <a href= "/"><%=image_tag("planet_snappy_sm_hz.png")  %></a>
</div>
