<% if logged_in? %>

<!-- Song Player http://playlist.me --><script type="text/javascript" src="http://playlist.me/w/script.js" data-config="{'skin':'skins/black/skin.css','volume':50,'autoplay':true,'shuffle':true,'repeat':1,'placement':'top','showplaylist':false,'playlist':'http://www.youtube.com/playlist?list=PLanvKbpjZonTGPFfBhh1rLyh4uapA5cuI'}" ></script><noscript><a href="http://playlist.me/songs/">player playlist</a></noscript><!-- playlist.me script end -->
  
<div class="search-container">
  <p class="notice" ><%= notice %></p>

  <div class="searchbox">
    <p><em>GITHUB USER SEARCH</em></p>
    <form id="search" action="/github/search_github" method="POST">
      <input type="text" name="search" placeholder="Search">
      <input type="submit" value="Go!">
    </form>

  </div>


  <div class="searchbox">
    <p><em>VIMEO USER SEARCH</em></p>
    <form id="search" action="/vimeos/search_vimeo" method="POST">
      <input type="text" name="search" placeholder="Search">
      <input type="submit" value="Go!">
    </form>
  </div>

  <div class="searchbox">
    <p><em>TWITTER USER SEARCH</em></p>
    <%= render "/twitter/search_form" %>
  </div>

  <div class="searchbox">
    <p><em>INSTAGRAM USER SEARCH</em></p>
    <%= render "instagram/search_form" %>
  </div>

</div>

  <div class="feed">
    <h2>Your Vimeo Feed</h2>

    <% if !@current_user.feeds.where(social_media: "Vimeo").empty? %>
      <%= render "/vimeos/vimeofeed" %>

      <% else %>
          <p class="no-vimeos">Search for Vimeo users to grow your feed!</p>
      <% end %>

      <h2>Your Github Feed</h2>
      <% if !Feed.exists?(social_media: "github")%>
          <p class="no-vimeos">Search for Github users to grow your feed!</p>
      <% elsif @git_feeds == nil %>
          <p class="no-vimeos">You've exceeded the ratelimit. Try checking again later</p>
      <% else %>
          <%= render "/github/feed_results" %>
      <% end %>

    </div>





<% else%>
  <div></div>
<% end %>
