<h2>Search Results</h2>



<% @git_results .each do |git| %>

<div class= "git_result">
  <%= image_tag "#{git[:avatar_url]}", size:"100x100" %>
  <p><%= git[:login] %></p>
  <!-- <button type="button" class="btn btn-info">Subscribe</button> -->
  <% @idf = Feed.find_by(handle: "#{git[:login]}").id %>

  <% if "#{git[:login]}" == Subscription.find_by(:feed_id => @idf)%>
      "this exists"

  <% else %>
    <%= form_for @feed, url: create_github_feed_path, method: :post, :class => "col-xs-4 subscribe-button" do |f| %>
    <%= f.hidden_field :handle, :value => "#{git[:login]}"%>
    <%= f.hidden_field :social_media, :value => "github" %>
    <%= f.hidden_field :id, :value => @feed.id %>
    <%= f.submit "Subscribe", :class => "btn btn-info" %>
    <% end %>
  <% end %>




</div>

<% end %>
