<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Snappy</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body>

<% if logged_in? %>
<div class= "login">
  <div class="home"><a href="/"> <%= image_tag "planet_logo.png", size:"200x120"
  %></a></div>

  <div class="my-account">
      <%= link_to image_tag("hideous-account.gif", alt: "My Account image", id: "hideous-my-account"), my_account_path %>
  </div>

  <div class="media">

    <p>Authenticate</p>


    <% if twitter_authenticated %>
    <%=image_tag("checktwitter.png")  %>
    <% else %>
    <a href= "/auth/twitter"><%=image_tag("twitter.png") %></a>
    <% end %>

    <% if github_authenticated %>
    <%=image_tag("checkgithub.png")  %>
    <% else %>
    <a href= "/auth/github"><%=image_tag("Github.png")  %></a>
    <% end %>

    <% if vimeo_authenticated %>
    <%=image_tag("checkvim.png")  %>
    <% else %>
    <a href= "/auth/vimeo"><%=image_tag("vimeo.png")   %></a>
    <% end %>

    <% if instagram_authenticated %>
    <%=image_tag("checkinsta.png")  %>
    <% else %>
    <a href= "/auth/instagram"><%=image_tag("Instagram.png")   %></a>
    <% end %>




    <p class="comic">Start getting snappy, <%= User.find(session[:user_id]).name %></p>

    <%= link_to "Log out", logout_path, method: :delete, class: "comic" %></p>

  </div>
</div>


<% else %>
<div class= "login">
  <div class="media">
    <p>Sign in with</p>
    <a href= "/auth/twitter"><%=image_tag("twitter.png")  %></a>
    <a href= "/auth/github"><%=image_tag("Github.png")  %></a>
    <a href= "/auth/vimeo"><%=image_tag("vimeo.png")  %></a>
    <a href= "/auth/instagram"><%=image_tag("Instagram.png")  %></a>

  </div>
</div>

<% end %>

<br>

  <%= yield %>

  <div class="leftLogo">
    <a href= "/"><%=image_tag("planet_snappy_sm.png")  %></a>
  </div>

  <a href= "/"><%=image_tag("planet_snappy.png")  %></a>

  <div class="rightLogo">
    <a href= "/"><%=image_tag("planet_snappy_sm_hz.png")  %></a>
  </div>




</body>
</html>
