<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Snappy</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<br>




  <%= yield %>

  <div class="leftLogo">
    <a href= "/"><%=image_tag("planet_snappy_sm.png")  %></a>
  </div>

  <a href= "/"><%=image_tag("planet_snappy.png")  %></a>

  <div class="rightLogo">
    <a href= "/"><%=image_tag("planet_snappy_sm_hz.png")  %></a>
  </div>




</body>
</html>
